.select-field-std .mat-mdc-text-field-wrapper {
  border-radius: 10px !important;
}
.select-field-std .mdc-notched-outline__leading {
  border-radius: 10px 0 0 10px !important;
}
.select-field-std .mdc-notched-outline__trailing {
  border-radius: 0 10px 10px 0 !important;
}
.select-field-std .mdc-notched-outline__notch {
  border-right: none;
}
.select-field-std .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

/* Custom slim scrollbars for options scroll */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
